body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
}

.index-page {
  background: url(img/layer.jpg) no-repeat #999;
  /*  background-color: #000;
  background-image: url("img/layer.jpg");
  background-position: top center;
  background-repeat: no-repeat;*/
}

.inner-page {
  color: #000;
  background-color: #f9f6f3;
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page .main-header {
  margin-bottom: 50px;
  /* временно для сетки */
  min-height: 70px;
}

body {
  background-color: rgba(255, 0, 0, .5);
}

/*
body>* {
  background-color: rgba(255, 255, 0, .5);
}

body>*>* {
  background-color: rgba(0, 255, 0, .5);
}

body>*>*>* {
  background-color: rgba(0, 0, 255, .5);
}
*/
a {
  text-decoration: none;
}

.main-header {
  color: #fff;
  background-color: #000;
}

.main-nav {
  font-size: 16px;
  line-height: 20px;
  /*  color: #fff;
  background-color: #000;*/
}

.site-nav,
.user-nav {
  list-style: none;
}

.site-nav a,
.user-nav a {
  color: #fff;
  background-color: #000;
}

.site-nav a:hover,
.site-nav a:focus,
.user-nav a:hover,
.user-nav a:focus {
  color: #fff;
  background-color: #242424;
}

.button {
  font: inherit;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  line-height: 42px;
  font-size: 30px;
}

.index-columns {
  color: #000;
  background-color: #f8f5f2;
}

.index-columns h2 {
  line-height: 42px;
  font-size: 30px;
}

.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}

.gallery-content {
  background-color: #ccc;
  border: 7px solid #fff;
}

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

.main-footer {
  color: #fff;
  background-color: #212121;
  background-image: url("img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-contacts a {
  color: #fff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #fff;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000;
  background: #fff;
}

.modal {
  color: #000;
  background-color: #f8f3f0;
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.restore {
  /*???*/
  color: #000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

/* --------- Сеточные стили ---------------- */
html,
body {
  min-width: 1122px;
  min-height: 1750px;
}

body {
  /* Временно для сетки */
  background-image: url('img/barbershop-index-grid.jpg');
  background-size: 1372px auto;
  background-repeat: no-repeat;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 75px;
  /* Временно для сетки */
  min-height: 285px;
}

.inner-page .main-header {
  margin-bottom: 50px;
  background-color: #000;
  /* Временно для сетки */
  min-height: 70px;
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Временно для сетки */
  min-height: 285px;
  background-color: transparent;
}

.inner-page .main-nav {
  align-items: flex-start;
  /* Временно для сетки */
  min-height: 70px;
}

.main-header-logo {
  order: 2;
  width: 368px;
  height: 153px;
  /* Временно для сетки */
  /*  display: block;*/
}

.inner-page .main-header-logo {
  order: 0;
  width: 111px;
  height: 24px;
  padding: 23px 20px;
}

.main-nav-wrapper {
  width: 100%;
  margin-bottom: 60px;
  background-color: #000;
  /* Временно для сетки */
  min-height: 70px;
  background-color: transparent;
}

.main-nav-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-nav {
  margin: 0;
  padding: 0;
  width: 620px;
  list-style: none;
  /* Временно для сетки */
  min-height: 70px;
}

.user-nav {
  margin: 0;
  padding: 0;
  width: 140px;
  list-style: none;
  /* Временно для сетки */
  min-height: 70px;
}

.inner-page .user-nav {
  margin-left: auto;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  /* Временно для сетки */
  min-height: 42px;
}

.features {
  margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  /* Временно для сетки */
  min-height: 170px;
}

.feature-item {
  width: 300px;
  /* Временно для сетки */
  min-height: 150px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
  /* Временно для сетки */
  background-image: none;
  background-color: transparent;
}

.news {
  width: 380px;
  /* Временно для сетки */
  min-height: 315px;
}

.gallery {
  width: 300px;
  /* Временно для сетки */
  min-height: 315px;
}

.contacts {
  width: 380px;
  /* Временно для сетки */
  min-height: 295px;
}

.appointment {
  width: 300px;
  /* Временно для сетки */
  min-height: 340px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  /* Временно для сетки */
  min-height: 24px;
}

,
catalog {
  width: 700px;
  /* Временно для сетки */
  min-height: 687px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  width: 220px;
  margin-bottom: 20px;
  /* Временно для сетки */
  min-height: 285px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
}

.pagination-list {
  padding: 0;
  margin: 0;
  list-style: none;
  /* Временно для сетки */
  min-height: 47px;
}

.filter {
  width: 180px;
  /* Временно для сетки */
  min-height: 687px;
}

.main-footer {
  padding: 60px 0;
  margin-top: 65px;
  /* Временно для сетки */
  background: none;
}

.main-footer .container {
  display: flex;
}

.inner-page .main-footer {
  margin-top: 45px;
}

.footer-contacts {
  width: 330px;
  margin: 0;
  margin-right: 70px;
  /* Временно для сетки */
  min-height: 100px;
}

.footer-social {
  width: 145px;
}